<h1>Create a new landmark</h1>
<form class="" action="/landmarks" method="post">
  <input type="text" id="landmark_name" name="landmark[name]" value="">
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]" value="">
  <input type="submit" value="Create New Landmark">
</form>
